<!-- <div class="row">
    <footer>
         <div>
              <p class="lead">Contacto y Redes</p>
              <div><a href="adrianaavilalezcano@gmail.com">Gmail</a></div>
              <div><a href="www.instagram.com">Instagram</a></div>
              <div><a href="www.faceboock.com">Facebook</a></div>
         </div>
    </footer>
</div> -->

<div class="row">
     <footer>
          <div>
               <p class="lead">Contacto y Redes</p>
               <p class="text-muted">Correo: adrianaavilalezcano@gmail.com</p>
               <p class="text-muted">Instagram</p>
          </div>
     </footer>
 </div>
