<div class="container">
    <section>
        <h2 class="display-6">Educación</h2>
        <p class="text-muted">Información de la formación académica, certificaciones, cursos. Información del instituto, logo, nombre, carrera o título, período o año.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat blanditiis corrupti commodi, architecto consectetur libero eaque hic sapiente mollitia? Libero facilis explicabo non dignissimos. Saepe ut harum quod alias qui!
        </p>
    </section>
</div>
