<app-header></app-header>
<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center" >

            <h3 class="mb-5">Inicio de Sesión</h3>

            <div class="form-outline mb-4">
              <label class="form-label" for="typeEmailX-2">Correo</label>
              <input type="email" id="typeEmailX-2" class="form-control form-control-lg" />
            </div>

            <div class="form-outline mb-4">
              <label class="form-label" for="typePasswordX-2">Contraseña</label>
              <input type="password" id="typePasswordX-2" class="form-control form-control-lg" />
            </div>

            <button (click)="login()" class="btn btn-primary btn-lg btn-block" type="submit">Iniciar Sesión</button>

            <hr class="my-4">

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
<h2 class="m-5">Iniciar Sesión</h2>
    <form class="m-5">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Correo</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Contraseña</label>
          <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <button type="submit" (click)="login()" class="btn btn-primary">Iniciar Sesion</button>
      </form>
