<article class="container">
    <h2 class="display-6">Experiencia</h2>
    <p class="text-muted">Incluir puesto, periodo, logo de la empresa (en caso de tenerlo) y una breve descripción de las actividades realizadas en el puesto.
    </p>
    <button type="button" class="btn btn-success" routerLink="/nuevaexpe" *ngIf="isLogged">
        <i class="bi bi-plus-circle-dotted"></i> Añadir
    </button>
    <div class="text-muted">
        <div class="display-3">
                <div *ngFor="let Experiencia of expe">
                    <h6>{{Experiencia.nombreE}}</h6>
                    <p>{{Experiencia.descripcionE}}</p>
                        <button class="btn btn-secondary" routerLink="/editexp/{{Experiencia.id}}" *ngIf="isLogged">
                        <i class="bi bi-pencil-square"></i></button>
                        <button class="btn btn-warning" (click)="delete(Experiencia.id)" *ngIf="isLogged">
                            <i class="bi bi-trash"></i> </button>
                </div>
        </div>
    </div>
</article>