<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <img src="../../../assets/logo.png" alt="Logo" width="100" height="auto" class="d-inline-block align-text-top">
      <a class="navbar-brand" href="#">Argentina Programa</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/inicio">INICIO</a>
          </li>
          <li *ngIf="!isLogged" (click)="login()" class="nav-item">
            <a class="nav-link" routerLink="/iniciar-sesion">INICIAR SESION</a>
          </li>
          <li *ngIf="isLogged" (click)="onLogOut()" class="nav-item">
            <a class="nav-link" routerLink="/inicio">CERRAR SESION</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>