<div>
  <div class="rounded float-end">
    <img class="logo-image" src="../../../assets/perfil.png" class="rounded float-end" width="300px">
    <h5 id="nombre">{{persona.nombre}} {{persona.apellido}}</h5>
  </div>
  <article class="container">
    <h2 class="display-6">Acerca de</h2>
    <p class="text-muted">Información sobre los conocimientos (Resumido). Nombre. Título Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae velit explicabo minima, consectetur, illo ad deleniti aliquam natus repellendus culpa, dolor dicta inventore. Expedita ab rem, atque alias sit fugit!</p>
  </article>
</div>

